
/*Основа*/ 
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'San Francisco', sans-serif;
    margin: 0;
    padding-top: 60px;
    background-color: #f0f0f5; 
    color: #333; 
}

header {
    background-color: #007aff; 
    color: white;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    font-size: 20px;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white; 
    border-radius: 12px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    margin-top: 80px; 
}

h1 {
    margin: 10px 0;
    color: #333;
    text-align: center;
    font-size: 24px;
}

section {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #d1d1d6; 
    border-radius: 10px; 
    background-color: #f9f9f9; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s;
}

section:hover {
    background-color: #e0e0e5; 
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #007aff;
    color: white;
    text-align: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: #007aff; 
    font-weight: 600;
}

a:hover {
    text-decoration: underline; 
}

/*Основа*/ 

/*Сайты*/ 

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffdd57;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 20px;
}

    .card {
background-color: #ffffff;
border-radius: 15px;
box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
margin: 15px;
width: 200px;
text-align: center;
transition: transform 0.3s, box-shadow 0.3s;
padding: 5px;
}

.card img {
    margin: 20px;
    width: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

    .card:hover {
transform: translateY(-5px);
box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.card-title {
    padding: 10px;
    font-size: 16px;
    color: #333;
    text-decoration: none;
}

/*сайты*/ 

/*цены*/

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffdd57;
}

.note {
    margin: 20px 0;
    font-size: 14px;
    color: #555;
    text-align: center;
}

.info-container {
    position: relative;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #d1d1d6;
    border-radius: 8px;
    width: 90%;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007aff;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    width: 50%;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

a {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007aff;
    text-align: center;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    width: 50%;
    margin-top: 10px;
}

a:hover {
    background-color: #0056b3;
}

.loading {
    font-size: 16px;
    color: #007aff;
    margin-top: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 40%;
}

.store-button {
    padding: 10px;
    margin: 5px 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    width: auto;
}

.store-button:hover {
    background-color: #218838;
}

footer {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    color: #555;
    background-color: #007aff;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 12px 12px;
}

.error {
    background-color: #dc3545 !important;
}

.success {
    background-color: #28a745 !important;
}

#infoText {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    right: 0;
    margin-top: 5px;
}

#infoQuestion {
    font-size: 18px;
    color: #007aff;
    margin-left: 10px;
    cursor: pointer;
}

.suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 90%;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
}

.suggestions div:hover {
    background-color: #f0f0f0;
}

svg {
    width: 30px;
} 
